<form name="LovelyForm" class="newProduct" ng-submit='editProduct()'>
    <input type="hidden" ng-model="editProductForm.id" placeholder="Product's name" required>
    <input type="text" ng-model="editProductForm.name" placeholder="Product's name" required>
    <input type="number" min="0" max="100" ng-model="editProductForm.count" placeholder="Count" required>
    <input type="number" min="1" ng-model="editProductForm.cost" placeholder="Cost" required>

    <select ng-model="editProductForm.group" ng-options="c.value for c in groups" required>
        <option value="">-- choose group --</option>
    </select>

    <select ng-options="s.value for s in shippers" ng-model="editProductForm.shipper" required>
        <option value="">-- choose shipper --</option>
    </select>

    <button class="btn btn-large btn-primary" type="submit">Save</button>
</form>